<!DOCTYPE html>
<html>
  <head>
    <title>Kindness Changes Everything | About</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is the about page for the application with reference to donations.
    </p>
  </body>
</html>