<!DOCTYPE html>
<html>
  <head>
    <title>Kindness Changes Everything | Blog</title>
  </head>
  <body>
    <h1>Blog</h1>
    <p>
      This is the blog page for the application.
    </p>
  </body>
</html>