<div class="center hero-unit">
  <h1>Kindness Changes Everything</h1>

  <h2>
    This is the home page for the anonymous kindness-post feature.
  </h2>
</div>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>