<div class="center hero-unit">
  <h1>Spread Kindness</h1>

  <h2>
    A anonymous board to highlight the kindness in life.
  </h2>
  <p>
    Here's the thing, it's your choice what you make of the world. Yes it can be a scary place but it can also be beautifully kind. And you know what? It's your choice. Something bad happened? Have compassion. Everybody has a story. Choose to see the world through the lens of Kindness & Compassion and I promise you'll see what we mean. Try it: 
  </p>
  <p>
    * Choose your words Kindly is 100% anonymous which means no names. The point here is to put an end to bullying. Any posts with foul language, names or any form of bullying will be taken down immediately. 
  </p>
</div>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>

  <div class="span8">
      <h3>Post Feed</h3>
      <section>
      <%= render 'shared/feed' %>
      </section>
  </div>


