<!-- <h1>Kindness Changes Everything</h1>
<p>This is the home page for spreading kindness through a post - Kindness Changes Everything</p>
 -->
<h1>Kindness Changes Everything</h1>
<p>
  This is the home page for the
  client application.
</p>