<!DOCTYPE html>
<html>
  <head>
    <title>Kindness Changes Everything | Support</title>
  </head>
  <body>
    <h1>Support</h1>
    <p>
      This is the support page for the application with reference to kids help phone.
    </p>
  </body>
</html>