<footer class="footer">
  <nav>
    <ul>
      <li><a href="/static_pages/home">Home</a></li>
      <li><a href="/static_pages/about">About</a></li>
      <li><a href="/static_pages/blog">Blog</a></li>
      <li><a href="/static_pages/support">Support</a></li>
    </ul>
  </nav>
</footer>