<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag("KindnessLogo.jpg", :alt => "kindness") %>
      <nav>
        <ul class="nav pull-right">
          <li><a href="/static_pages/home">Home</a></li>
          <li><a href="/static_pages/about">About</a></li>
          <li><a href="/static_pages/blog">Blog</a></li>
          <li><a href="/static_pages/support">Support</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>